== content_for :page_title
  h2
    span.category = "Customers: #{@invoice.customer.name} / "
    span Edit Invoice

.row
  .col-sm-8
    = bootstrap_form_for(@invoice, url: customer_invoice_path(customer_id: @invoice.customer, id: @invoice)) do |f|
      h4 General
      = f.date_field :invoice_date, class: 'datepicker', wrapper: {class: 'col-sm-6'}
      = f.date_field :due_date, class: 'datepicker', wrapper: {class: 'col-sm-6'}
      = f.select :terms, enum_for_select(Invoice.terms), {}, layout: :default, wrapper: {class: 'col-sm-12'}
      = f.text_field :notes, layout: :default, wrapper: {class: 'col-sm-12'}, 
          help: 'These notes will be displayed to your customer at the bottom of the invoice.',
          placeholder: 'Thank you for your business!'
      .clearfix
      
      .line-items-section
        h4 Line Items
        = f.fields_for :line_items do |builder|
          = render partial: 'forms/line_item_fields', locals: {f: builder}
        
        = link_to_add_fields 'Add Line Item', f, :line_items
      
      = f.submit 'Update Invoice', class: 'btn btn-primary'
      = link_to 'Cancel', customer_path(@invoice.customer), class: 'btn btn-link'
      
  .col-sm-4.border-box.text-center
    .big-num-container
      p total invoice value
      .big-num#invoice-value-number $0.00

== content_for :page_footer
  javascript:
    $(document).on('turbolinks:load', function() {
      $('.datepicker').flatpickr({minDate: 'today', defaultDate: new Date(), altInput: true});
      $('input.currency').currencyInput();
      
      $(document).on('factura:line-item-added', function(e) {
        $(e.lineItem).find('.currency').currencyInput();
      });

      $('.line-items-section').invoiceTotaler({rebindOn: 'factura:line-item-added'});
    });
