style
  = Rails.application.assets.find_asset('application.css').to_s.html_safe

.row
  .col-sm-8
    h2 General
    
    .row-fluid
      h6 Invoice Date
      p = invoice_date_or_default
    
    .row-fluid
      h6 Due Date
      p = due_date_or_default
    
    .row-fluid
      h6 Terms
      p = terms_or_default
    
    .row-fluid
      h6 Notes
      p = notes_or_default
      
    .line-items-section
      h2 Line Items
      - line_items.each do |line_item|
        .row-fluid
          .col-sm-6
            h6 Name
            p = line_item.name
          
          .col-sm-3
            h6 Quantity
            p = line_item.quantity
          
          .col-sm-3
            h6 Rate
            p = line_item.rate

  .col-sm-4.border-box.text-center
    .big-num-container
      p total invoice value
      .big-num#invoice-value-number = number_to_currency(amount_due)
