== content_for :page_title
  h2
    span.category = "Customer: #{@invoice.customer_name} / "
    span Invoice
== content_for :page_title_right
  = link_to 'Record Payment', 
    new_customer_invoice_payment_path(customer_id: @invoice.customer.id, invoice_id: @invoice.id), class: 'btn btn-primary-inverse'


.row
  .col-sm-8
    h2 General
    
    .row-fluid
      h6 Invoice Date
      p = @invoice.invoice_date_or_default
    
    .row-fluid
      h6 Due Date
      p = @invoice.due_date_or_default
    
    .row-fluid
      h6 Terms
      p = @invoice.terms_or_default
    
    .row-fluid
      h6 Notes
      p = @invoice.notes_or_default
      
    .line-items-section
      h2 Line Items
      - @invoice.line_items.each do |line_item|
        .row-fluid
          .col-sm-6
            h6 Name
            p = line_item.name
          
          .col-sm-3
            h6 Quantity
            p = line_item.quantity
          
          .col-sm-3
            h6 Rate
            p = line_item.rate

  .col-sm-4.border-box.text-center
    .big-num-container
      p total invoice value
      .big-num#invoice-value-number = number_to_currency(@invoice.amount_due)
