- if current_user
  = render partial: 'shared/navbar'
  - if content_for? :page_title
    .row-fluid.page-title
      - if content_for? :page_title_right
        .col-sm-8.text-center-xs
          = yield :page_title
        .col-sm-4.text-right.text-center-xs
          = yield :page_title_right
      - else
        .col-sm-12.text-center-xs
          = yield :page_title
      .clearfix
  
  .sidebar-overlay
  .sidebar.closed
    .sidebar-nav
      .close-container
        i.sidebar-toggle-btn.fa.fa-close aria-hidden="true"
        
      ul.nav.nav-sidebar
        li
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
