#top-nav.nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'Factura', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          = link_to 'Customers', customers_path
        li
          a href="#"  Open Invoices
        li
          a.sidebar-toggle-btn href="#"
            i.fa.fa-bars.sidebar-btn-toggle
            
