- @customer.invoices.each do |invoice|
  tr.customer-invoice-row
    td = invoice.invoice_date_or_default
    td = invoice.due_date_or_default
    td = number_to_currency(invoice.amount_due)
    td 
      = link_to 'View', customer_invoice_path(@customer.id, invoice.id), class: 'btn btn-default btn-xs btn-show-on-hover'
      = link_to 'Edit', edit_customer_invoice_path(@customer.id, invoice.id), class: 'btn btn-default btn-xs btn-show-on-hover'
