== content_for :page_title
  h2 Customers
== content_for :page_title_right
  = link_to 'New Customer', new_customer_path, class: 'btn btn-primary-inverse'

table.table.table-striped
  thead
    tr
      th
        strong Customer Name
      th
  tbody
    - @customers.each do |customer|
      tr
        td = customer.name
        td.text-right
          = link_to 'View Customer', customer, class: 'btn btn-default'
    
    
  
