== content_for :page_title
  h2 New Customer

= bootstrap_form_for @customer do |f|
  = f.text_field :name
  = f.text_field :address
  = f.telephone_field :phone_number
  = f.url_field :website_url
  
  h4 Primary Contact
  = f.fields_for :contacts do |p|
    = p.text_field :first_name
    = p.text_field :last_name
    = p.telephone_field :phone_number
    = p.email_field :email
    = p.text_field :title
    
  = f.submit 'Create Customer'
