== content_for :page_title
  h2 
    span.category Customers:
    = " #{@customer.name}"
== content_for :page_title_right
  .btn-group
    button.btn.btn-primary-inverse.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button" 
      i.fa.fa-gear
    ul.dropdown-menu.dropdown-menu-right
      li = link_to 'Edit Customer', '#'
      li = link_to 'Delete Customer', '#'
  
.row
  .col-md-8
    .row
      .col-sm-9.col-xs-6
        h4 Invoices
      .col-sm-3.col-xs-6.text-right
        = link_to 'New Invoice', new_customer_invoice_path(@customer), class: 'btn btn-primary'
    .row-fluid
      table.table.table-striped
        thead
          tr
            th Invoice Date
            th Due Date
            th Total Amount
            th
        tbody
          - if @customer.invoices.any?
            = render partial: 'customers/invoice_row'
          - else
            tr
              td.warning.text-center colspan="3"
                | You have not created any invoices for #{@customer.name} yet.
  
  .col-md-4.border-box.text-center
    .big-num-container
      p total billed
      .big-num = number_to_currency(@customer.total_billed)
