@import 'modules/bootstrap-overrides';

.btn {
  font-family: $serif;
}

.btn-primary-inverse {
  border: 1px solid #fff;
  background-color: $brand-primary;
  color: #fff;

  &:hover,
  &:active {
    background-color: white;
    color: $brand-primary;
  }
}

.customer-invoice-row {
  .btn-show-on-hover {
    opacity: 0;
    transition: .25s ease all;
  }

  &:hover {
    .btn-show-on-hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 480px) {
  .btn-show-on-hover {
    opacity: 1 !important;
  }
}
