@import 'modules/bootstrap-overrides';

.add-nested-attribute-fields {
  margin-bottom: 40px;
  display: inline-block;
}

.form-control.datepicker {
  background-color: #fff;
}

.form-inline.nested-attributes {
  margin: 10px 0;

  input {
    width: 100%;
  }
  label {
    display: block;
    text-align: left;
  }
}

.line-items-section {
  margin-top: 30px;
}
