h1 Record Payment

= bootstrap_form_for @payment, url: @payment.create_path, method: :post do |f|
  = f.date_field :date, class: 'datepicker', label: 'Payment Date'
  = f.number_field :amount, class: 'currency'
  = f.select :payment_method, enum_for_select(Payment.payment_methods)
  = f.text_field :memo
  = f.submit 'Record Payment', class: 'btn btn-primary'


== content_for :page_footer
  javascript:
    $(document).on('turbolinks:load', function() {
      $('.datepicker').flatpickr({minDate: 'today', defaultDate: new Date(), altInput: true});
      $('input.currency').currencyInput();
    });
