== content_for :page_title
  h2 Organization Profile

.row
  .col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0
    .row-fluid.text-center
      h3 We need some basic information from you! 
      p This information will be displayed in various places on your invoices.
    
    .spacer
    .row-fluid
      = bootstrap_form_for @profile do |f|
        = f.text_field :name, help: 'This will be the name shown on your invoice.'
        = f.text_field :address, help: 'This is the address which checks could be sent to.'
        = f.telephone_field :phone_number
        = f.url_field :website_url
        = f.submit 'Save Profile', class: 'btn btn-primary'
