fieldset.form-inline.nested-attributes.line-item-row
  = f.text_field :name, wrapper: {class: 'col-sm-6'}, placeholder: 'ex. Consulting'
  = f.number_field :quantity, class: 'quantity', wrapper: {class: 'col-sm-3'}, min: 0
  = f.number_field :rate, class: 'currency', wrapper: {class: 'col-sm-3'}
