/*
 *= require_self
 */

@import 'modules/bootstrap-overrides';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'header';
@import 'modules/buttons';
@import 'modules/forms';

body {
  padding: 50px 0;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $brand-primary;
}

.row.page-header {
  padding: 15px 0;
  margin-top: 15px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.border-box {
  border: 2px solid $brand-primary;
}

.warning {
  background-color: $table-bg-accent !important;
  padding: 50px 0 !important;
}

.big-num-container {
  padding: 75px 0;

  .big-num {
    color: $brand-primary;
    font-size: 48px;
    font-weight: bold;
    font-family: $serif;
  }
}

.flatpickr-day.selected {
  background-color: $brand-primary !important;
  border-color: $brand-primary !important;
}

.spacer {
  height: 25px;
}

@media screen and (max-width: 480px) {
  .text-center-xs {
    text-align: center;
  }
}
