@import 'modules/bootstrap-overrides';

.page-title {
  background-color: $brand-primary;
  color: #fff;
  display: block;
  padding: 15px 0;
  margin-bottom: 20px;

  h1,h2,h3,h4,h5 {
    margin: 0;
    font-weight: 300;
    font-family: $font-family-sans-serif;
  }

  .category {
    color: rgba(255,255,255,.5);
  }

}

.open-container {
  display: inline;
  position: absolute;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  opacity: .8;
  display: none;
  z-index: 1031;

  &.show {
    display: block;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  height: 100%;
  padding-top: 10px;
  z-index: 1032;
  transition: .25s ease background-color;

  .open-container {
    margin-left: 50px;
    color: $brand-primary;
  }

  .sidebar-toggle-btn {
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }
  }

  &.closed {
    background-color: transparent;
    .sidebar-nav {
      display: none;
    }
    .open-container {
      display: inline-block;
    }
    .close-container {
      display: none;
    }
  }

  &.open {
    background-color: $brand-primary;

    .sidebar-nav {
      display: block;
    }
    .open-container {
      display: none;
    }
    .close-container {
      display: block;
      text-align: right;
      margin-right: 10px;
      color: $white;
    }
  }
}

.nav-sidebar {
  width: 300px;

  li > a {
    color: $white;
    text-align: center;
    font-family: $serif;
    text-decoration: underline;
    transition: .25s ease all;

    &:hover {
      background-color: transparent;
      color: darken($brand-primary, 30%);
      text-decoration: underline;
    }
  }
}

#top-nav.navbar-fixed-top {
  z-index: 1030;
  font-family: $serif;
  background-color: $white;
  border-bottom: 1px solid $light-grey;

  .navbar-brand {
    color: $dark-grey;
    font-weight: 700;
    transition: .25s ease all;

    &:hover {
      color: lighten($dark-grey, 20)
    }
  }

  .nav.navbar-nav {
    display: inline-block;

    li > a {
      text-decoration: underline;
      padding-top: 10px !important;
      padding-bottom: 0 !important;
      color: $brand-primary;
      transition: .25s ease all;

      &:hover, &:active {
        background-color: transparent;
        color: darken($brand-primary, 15%)
      }
    }
  }
}
