@import 'modules/bootstrap-overrides';

body {
  background: image-url('background.jpg');
  background-size: cover;
  padding-top: 20px;
}

.user-navbar-logo {
  margin-bottom: 50px;

  a {
    color: #fff;
    font-size: 24pt;
    font-family: $serif;
    font-weight: 700;
  }

  a:hover,
  a:active {
    text-decoration: none;
  }
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $white;
}

.user-container {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  padding: 75px 20px;
  text-align: center;
  margin: auto;
  border-radius: 4px;
}
