doctype html
html
  head
    title
      | Factura
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:300:700" rel="stylesheet"
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.3.4/flatpickr.min.css"
  body
    = render partial: 'shared/header'
    .container
      = flash_messages
      = yield

    script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.3.4/flatpickr.min.js"

    - if content_for? :page_footer
      = yield :page_footer
